.main_container{
    border-radius: 3px;
    border-style: dashed;
    border-color: red;
    width: 75%;
}
#main_pic{
    width: 240px;
    height: 240px;
}
body{
    background-color:#aae4fd;
}
#login_form{
    display: flex;
    flex-direction: column;
    width: 200px;
}